@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
:root{
    --black: #000000DE;
    --darkgray: #3a3a3a;
    --orange: #EB6C27;
    --gray: #8888;
    --white: #ffff;
}
* {
    font-family: 'Open Sans';
}
.title {
    background-image: url(../media/pageheader-1920w.jpg);
    background-color: rgb(200, 200, 200);
    background-blend-mode: multiply;
    min-height: 43rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    position: relative;
    padding-top: 3rem;
}
.title__small {
    background-image: url(../media/pageheader-1920w.jpg);
    background-color: rgb(200, 200, 200);
    background-blend-mode: multiply;
    min-height: 8rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    background-position-y:center;
    padding-top: 2rem;
}
p{
    color:var(--darkgray);
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;
}

p > mark{
    color:var(--black);
    background-color: rgba(0, 0, 0, 0);
    font-weight: bold;
}
.title > h1{
    display: flex;
    font-weight: 800;
    font-size: 5rem;
    line-height: 41px;
    color: var(--white);
    justify-content: center;
    align-items: center;
}

.title > h2 {
    display: flex;
    font-weight:300;
    font-size: 3rem;
    line-height: 27px;
    color: var(--white);
    justify-content: center;
    align-items: center;
}
.title > div > a {
    font-weight:300;
    font-size: 1.5em;
    padding: 1rem;
    margin-top: 1rem;
    color: var(--white);
    background-color: #EB6C27;
    text-decoration: none;
}
.title > div {
    text-align: center;
}
.popis {
    text-align: center;
}
.popis > h2{
    font-weight: 700;
    font-size: 3rem;
}
.popis p {
    max-width: 44rem;
    margin-left: auto;
    margin-right: auto;
}

.popis > h2 > mark{
    color: var(--orange);
    background-color: var(--white);
}

.banner__content h2{
    font-weight: 700;
    font-size: 17px;
    color: white;
}


.header > img{
    width: 127px;
    height: 44px;
}

.logo{
    display: flex;
    height: 75%;
    margin-right: auto;
    align-self: center;
}
.navbar {
    position: initial;
    width: fit-content;
    display: flex;
    list-style-type: none;
    height: 5rem;
    background-color: #ffffff;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    width: 90%;
    margin-bottom: 18rem;
}
.menu {
    display: flex;
    list-style-type: none;
    justify-content: center;
    align-items: center;
    margin: 0px;
    height: 5rem;

}
.menu > li {
    display: inline-block;

}
.menu > li a {
    margin-left: 1rem;
    text-decoration: none;
    color: var(--darkgray);
    padding-top: 3rem;
    padding-bottom: 3rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}
.active {
    color: white;
    background-color: #EB6C27;
}
li > a.active {
    color:white;
}
.galerie__item {
    display: inline-flex;
    width: 70%;
    height: 70%;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.galerie__item_inverted {
    display: inline-flex;
    width: 70%;
    flex-direction: row-reverse;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.galerie__item > img, .galerie__item_inverted > img{
    width: 50%;
    border-radius: 0px 0px 50px 0px;
}
.galerie__item_inverted > img{
    width: 50%;
    border-radius: 0px 0px 0px 50px;
}
.galerie__item .galerie__item_text {
    width: 100%;
    text-align: left;
    margin-left: 3rem;
}
.galerie__item_inverted .galerie__item_text {
    margin-right: 3rem;
    text-align: left;
    width: 100%;
}
.galerie__item_text .btn__vice{
    color: #EB6C27;
    background-color: white;
    padding: 0.7rem;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-top: 2rem;
    text-decoration: none;
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23EB6C27FF' stroke-width='3' stroke-dasharray='15%2c 10' stroke-dashoffset='31' stroke-linecap='square'/%3e%3c/svg%3e");
}
.galerie {
    text-align: center;
}
.galerie__item_div {
    margin-top: 2rem;
}

.banner {
    background-image: url(../media/background-CTAblock-4460w.jpg);
    background-color: #787878;
    background-blend-mode: multiply;
    background-size: cover;
    background-clip: border-box;
    background-position-y: center;
}

.banner__content {
    color: white;
    font-weight: bold;
    padding: 9rem;
    font-size: 0.8rem;
}
.banner .btn2 {
    padding: 1rem;
    padding-left: 4rem;
    padding-right: 4rem;
    background-color: #EB6C27;
    font-weight: 200;
    color: white;
}
.ref{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
	
}
.ref .btn--primary-new{
    padding: 12px 50px;
}
.ref__contents{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    margin-top: 2em;
	margin-bottom: 80px;
}
.ref-content{
    position: relative;
    width: 30rem;
    margin: 0;
}
.ref-content__img{
    display: block;
    width: 100%;
}

.ref-content__active {
    position: absolute;
    text-decoration: none;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    visibility: hidden;
    
    background-color: rgba(235, 108, 27, 0.8);

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.ref-content:hover .ref-content__active {
    visibility: visible;
}
.ref--text{
    max-width: 50%;
}
.ref-content__active p, .ref-content__active h3 {
    color: white;
}
.btn3 {
    text-align: center;
}
.btn3__content{
    padding: 1rem;
    background-color: #EB6C27;
    color: white;
}
footer {
    background-color: #EB6C27;
    padding: 5rem;
    margin-top: 3rem;
}
footer p, footer h2, footer h3, footer h4 {
    background-color: #EB6C27;
    color: white;
    text-align: center;
} 
@media screen and (min-width: 1055px){
    .main h2 {
        text-align: center;
    }
    .main {
        margin-left: 10rem;
        margin-right: 15rem;
    }
    .hamburger-menu {
        display: none;
    }
    .ref__popis {
        text-align: center;
        max-width: 45rem;
        margin-left: auto;
        margin-right: auto;
    }
    .title__small_index {
        display: none;
    }
    .hamburger {
        display: none;
    }
    .kontakt__text {
        text-align: center;
        font-size: 1rem;
        margin-bottom: 5rem;
        margin-top: 5rem;
    }
    .kontakt__content {
        display: inline-flex;
        width: 100%;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
    }
    .kontakt__content_udaje {
        font-weight: bold;
        height: 100%;
        width: 50%;
        padding: 0px;
    }
    .kontakt__content_udaje li {
        margin-top: 2rem;
        list-style: none;
    }
    .kontakt__content_udaje li a {
        text-decoration: none;
        color: #EB6C27;
    
    }
    .kontakt__main {
        text-align: center;
    }
    .icon_circle {
        display: flex;
        align-items: center;
        margin-left: 10rem;
        color: #EB6C27;
        font-size: 1.5rem;
    }
    .icon_circle::before {
        display: flex;
        background-color: var(--orange);
        padding: 1rem;
        border-radius: 100%;
        float: left;
        width: 1.5rem;
        height: 1.5rem;
        margin-right: 2rem;
    }
    .call::before {
        content: url(../media/call_24px_outlined.svg);
    }
    .mail::before {
        content: url(../media/email_24px_outlined.svg);
    }
    .location::before {
        content: url(../media/location_on_24px_outlined.svg);
    }
    .kontakt__content_img {
        width: 50%;
        float: right;
        background: linear-gradient(0deg, rgba(235, 108, 39, 0.6), rgba(235, 108, 39, 0.6));
    }
    .kontakt__content_img_white {
        display: none;
    }
    .kontakt__content_orange {
        position:relative;
        background-color: #EB6C27;
        background-position-x: right;
    }
    .kontakt__main h2 {
        font-size: 3rem;
    }
    .kontakt__formular {
        margin-left: 10rem;
        text-align: left;
    }
    .kontakt__btn3 {
        text-align: left;
        margin-top: 2rem;
        margin-bottom: 10rem;
    }
    .kontakt__btn3 a {
        text-decoration: none;
    }
    
    .kontakt__formular_nabidkanadpis {
        display: block;
    }
    .kontakt__formular input {
        width: 25rem;
        height: 3rem;
        text-align: left;
        border: 2px #EB6C27 solid;
    }
    .kontakt__formular_nabidka select{
        padding-left: 0.2rem;
        width: 25.5rem;
        height: 3.375rem;
        text-align: left;
        border: 2px #EB6C27 solid;
    }
    .kontakt__formular p, .kontakt__formular label {
        font-weight: bold;
        font-size: 1rem;
        margin-bottom: 1rem;
        margin-top: 1rem;
        color: var(--black);
    }
    .kontakt__formular textarea {
        border: 2px #EB6C27 solid;
        width: 25rem;
        height: 3rem;
    }
    .kontakt__formular_nadpis p, .kontakt__formular_nadpis h3 {
        margin-left: 10rem;
    }
    .kontakt__formular_nadpis p{
        margin-left: 10rem;
    }
}
.main li {
    color: #EB6C27;
    font-size: 1.5rem;
}  
@media screen and (max-width: 1055px){
    .hamburger-menu {
        position: initial;
        width: fit-content;
        display: flex;
        list-style-type: none;
        height: 5rem;
        background-color: #ffffff;
        margin-left: auto;
        margin-right: auto;
        overflow: hidden;
        width: 90%;
        
    }
    .hamburger {
    display: flex;
    align-self: center;
    flex-direction: column;
    align-items: center;
    display: none;
    text-decoration: none;
    color: var(--darkgray);
    }

    .hamburger::after {
        content: url(../media/hamburger.svg);
    }


    @media screen and (max-width: 1055px) {
        .hamburger { 
            display: flex;
        } 
        .hamburger-menu--hidden {
            z-index: -1;
        }
    }
    .logo{
        display: flex;
        height: 50%;
        margin-right: auto;
        align-self: center;
    }
    .main{
        margin-left: 1rem;
        margin-right: 1rem;
    }
    .navbar {
        display: none;
    }
    .title {
        min-height: 15rem;
        display:grid;
        grid-template-rows: 1fr 3rem 2rem;
        grid-template-columns: 1fr;
        background-size: 200%;
    }
    .title h1 {
        font-size: 170%;
        align-items: flex-end;
        margin: 0px;
    }
    .title h2 {
        font-size: 120%;
        margin: 0px;
        font-weight: 200;
    }
    .title__btn {
        display: none;
    }
    .title__small {
        background-color: white;
        background-image: none;
        min-height: 5rem;
        padding-top: 0rem;
    }
    .title__small img {
        width: 50%;
        height: 50%;
    }
    .ref__popis, .ref-content {
        margin-left: 1rem;
        margin-right: 1rem;
    }
    .galerie__item, .galerie__item_inverted {
        display:inline-block;
        width: 90%;
        margin-bottom: 2rem;
    }
    .galerie__item .galerie__item_text, .galerie__item_inverted .galerie__item_text {
        margin: 0px;
    }
    .galerie__item > img, .galerie__item_inverted > img {
        height: 100%;
    }
    .banner {
        display: flex;
        min-height: 20rem;
        align-items: center;
        padding: 1rem;
    }
    .banner__content {
        padding: 0px;
    }
    .ref-content{
        width: 80%;
    }
    .ref-content__active {
        height: 100%;
        width: 100%;
    }
    .btn4 .btn4__content{
        padding: 0.8rem;
        padding-left: 1rem;
        padding-right: 1rem;
        font-size: 0.8rem;
        width: 80%;
        background-color: white;
        color: var(--orange);
        text-decoration: none;
    }
    .kontakt__text {
        text-align: center;
    }
    .kontakt__content {
        width: 100%;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
    }
    .kontakt__content_udaje {
        font-weight: bold;
        height: 100%;
        padding: 0px;
    }
    .kontakt__content_udaje li {
        margin-top: 2rem;
        list-style: none;
    }
    .kontakt__content_udaje li a {
        text-decoration: none;
        color: #EB6C27;
    
    }
    .kontakt__main {
        text-align: center;
    }
    .icon_circle {
        display: flex;
        align-items: center;
        margin-left: 1rem;
        color: #EB6C27;
        font-size: 1.5rem;
    }
    .icon_circle::before {
        display: flex;
        background-color: var(--orange);
        padding: 1rem;
        border-radius: 100%;
        float: left;
        width: 1.5rem;
        height: 1.5rem;
        margin-right: 1rem;
    }
    .call::before {
        content: url(../media/call_24px_outlined.svg);
    }
    .mail::before {
        content: url(../media/email_24px_outlined.svg);
    }
    .location::before {
        content: url(../media/location_on_24px_outlined.svg);
    }
    .kontakt__content_img {
        display: none;
    }
    .kontakt__content_img_white {
        width: 100%;
        margin-top: 2rem;
    }
    .kontakt__content_orange {
        position:relative;
        background-color: #EB6C27;
        background-position-x: right;
    }
    .kontakt__main h2{
        font-size: 2rem;
        text-align: left;
        margin-left: 1rem;
    }
    .kontakt__text{
        font-size: 1rem;
        text-align: left;
        margin-left: 1rem;
        margin-right: 1rem;
    }
    .kontakt__formular {
        margin-left: 1rem;
        text-align: left;
    }
    .kontakt__btn3 {
        text-align: left;
        margin-top: 2rem;
        margin-bottom: 10rem;
    }
    .kontakt__btn3 a {
        text-decoration: none;
    }
    
    .kontakt__formular_nabidkanadpis {
        display: block;
    }
    .kontakt__formular input {
        width: 17rem;
        height: 3rem;
        text-align: left;
        border: 2px #EB6C27 solid;
    }
    .kontakt__formular_nabidka select{
        padding-left: 0.2rem;
        width: 17.5rem;
        height: 3.375rem;
        text-align: left;
        border: 2px #EB6C27 solid;
    }
  .kontakt__formular label {
        font-weight: bold;
        font-size: 1rem;
        margin-bottom: 1rem;
        margin-top: 1rem;
        color: var(--black);
    }
    .kontakt__formular textarea {
        border: 2px #EB6C27 solid;
        width: 17rem;
        height: 7rem;
    }
    .kontakt__formular_nadpis p, .kontakt__formular_nadpis h3 {
        margin-left: 1rem;
    }
}
.btn4 {
    text-align: center;
    margin-top: 2.5rem;
}
.btn4__content{
    padding: 1rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    font-size: 1rem;
    background-color: white;
    color: var(--orange);
    text-decoration: none;
}
.nostavby__text {
    max-width: 58rem;
}
.banner__content h2 {
    font-size: 1.3rem;
}
.banner .btn2 {
    padding: 0.8rem;
    padding-left: 2.5rem;
    font-size: 1rem;
    padding-right: 2.5rem;
}
.banner__btn {
    margin-top: 2rem;
}
.body a {
    text-decoration: none;
}
h2 {
    font-size: 2.5rem;
    color: var(--darkgray);
}
h3 {
    color: var(--darkgray);
}
.galerie__item h3, .galerie__item_inverted h3 {
    font-size: 2rem;
    color: #262626;
}
.icon_circle {
    text-align: left;
}
.kontakt__content {
    margin-bottom: 6rem;
}
.kontakt__formular_nadpis p, .kontakt__formular_nadpis h3 {
    color: black;
    text-align: left;
    margin-bottom: 1rem;
}
.kontakt__formular_nadpis h3 {
    font-size: 1.5rem;
}
.prumstav ul, .prumstav li {
    font-size: 1.2rem;
    color: var(--darkgray);
    list-style:disc ;
}
.prumstav li {
    color: var(--orange);
}
.reko__seznamy h3 {
    color: var(--darkgray);
    font-weight: bold;
}
