:root{
    --black: #000000DE;
    --darkgray: #3a3a3a;
    --orange: #EB6C27;
    --gray: #8888;
    --white: #ffff;
}


html {
    font-family: 'Open Sans', sans-serif;
    margin: 0px;
}
.title {
    background-image: url(../media/pageheader-1920w.jpg);
    min-height: 50rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    position: relative;
    padding-top: 5rem;
}
p{
    color:var(--darkgray);
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;
}

p > mark{
    color:var(--black);
    background-color: rgba(0, 0, 0, 0);
    font-weight: bold;
}
.title > h1{
    display: flex;
    font-weight: 800;
    font-size: 30px;
    line-height: 41px;
    color: var(--white);
    justify-content: center;
    align-items: center;
}

.title > h2 {
    display: flex;
    font-weight: 300;
    font-size: 20px;
    line-height: 27px;
    color: var(--white);
    justify-content: center;
    align-items: center;
}

.popis > h1{
    font-weight: 700;
    font-size: 22px;
    line-height: 30px;
}

.popis > h1 > mark{
    color: var(--orange);
    background-color: var(--white);
}

.galery > h1{
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
}

.banner > h1{
    font-weight: 700;
    font-size: 17px;
    line-height: 21px;
}

.galery2 > h1{
    font-weight: 700;
    font-size: 22px;
    line-height: 30px;
}
.galery2 > p{
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
}



footer > h1{
    font-weight: 700;
    font-size: 22px;
    line-height: 30px;
    color: var(--white);
}

footer > p{
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: var(--white);
}

.header > img{
    width: 127px;
    height: 44px;
}

.logo{
    height: 5rem;
    margin-right: auto;
}
.navbar {
    position: initial;
    width: fit-content;
    display: flex;
    list-style-type: none;
    height: 5rem;
    background-color: #ffffff;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    width: 90%;
    margin-bottom: 0px;
}
.menu {
    display: flex;
    list-style-type: none;
    justify-content: center;
    align-items: center;
    margin: 0px;
    height: 5rem;

}
.menu > li {
    display: inline-block;

}
.menu > li a {
    margin-left: 1rem;
    text-decoration: none;
    color: black;
    padding-top: 3rem;
    padding-bottom: 3rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}
.active {
    color: white;
    background-color: #EB6C27;
}
.space {
    margin-top: 20px;
    width: auto;
    background-color: rgba(0, 0, 0, 0);
}