:root{
    --black: #000000DE;
    --darkgray: #3a3a3a;
    --orange: #EB6C27;
    --gray: #8888;
    --white: #ffff;
}


html {
    font-family: 'Open Sans', sans-serif;
    margin: 0px;
}
.title {
    background-image: url(../media/pageheader-1920w.jpg);
    background-color: rgb(200, 200, 200);
    background-blend-mode: multiply;
    min-height: 43rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    position: relative;
    padding-top: 3rem;
}
p{
    color:var(--darkgray);
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;
}

p > mark{
    color:var(--black);
    background-color: rgba(0, 0, 0, 0);
    font-weight: bold;
}
.title > h1{
    display: flex;
    font-weight: 800;
    font-size: 5rem;
    line-height: 41px;
    color: var(--white);
    justify-content: center;
    align-items: center;
}

.title > h2 {
    display: flex;
    font-weight:300;
    font-size: 3rem;
    line-height: 27px;
    color: var(--white);
    justify-content: center;
    align-items: center;
}
.title > div > a {
    font-weight:300;
    font-size: 1.5em;
    padding: 1rem;
    margin-top: 1rem;
    color: var(--white);
    background-color: #EB6C27;
    text-decoration: none;
}
.title > div {
    text-align: center;
}
.popis {
    text-align: center;
}
.popis > h1{
    font-weight: 700;
    font-size: 3rem;
}
.popis p {
    width: 44rem;
    margin-left: auto;
    margin-right: auto;
}

.popis > h1 > mark{
    color: var(--orange);
    background-color: var(--white);
}

.banner > h1{
    font-weight: 700;
    font-size: 17px;
    line-height: 21px;
}

.gallery2 > h1{
    font-weight: 700;
    font-size: 22px;
    line-height: 30px;
}
.gallery2 > p{
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
}



.header > img{
    width: 127px;
    height: 44px;
}

.logo{
    height: 5rem;
    margin-right: auto;
}
.navbar {
    position: initial;
    width: fit-content;
    display: flex;
    list-style-type: none;
    height: 5rem;
    background-color: #ffffff;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    width: 90%;
    margin-bottom: 18rem;
}
.menu {
    display: flex;
    list-style-type: none;
    justify-content: center;
    align-items: center;
    margin: 0px;
    height: 5rem;

}
.menu > li {
    display: inline-block;

}
.menu > li a {
    margin-left: 1rem;
    text-decoration: none;
    color: black;
    padding-top: 3rem;
    padding-bottom: 3rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}
.active {
    color: white;
    background-color: #EB6C27;
}
.galerie__item {
    display: inline-flex;
    width: 70%;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.galerie__item_inverted {
    display: inline-flex;
    width: 70%;
    flex-direction: row-reverse;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.galerie__item > img, .galerie__item_inverted > img{
    width: 50%;
    border-radius: 0px 0px 50px 0px;
}
.galerie__item_inverted > img{
    width: 50%;
    border-radius: 0px 0px 0px 50px;
}
.galerie__item .galerie__item_text {
    width: 100%;
    text-align: left;
    margin-left: 3rem;
}
.galerie__item_inverted .galerie__item_text {
    margin-right: 3rem;
    text-align: left;
    width: 100%;
}
.galerie__item_text .btn__vice{
    background-color: #EB6C27;
    color: white;
    padding: 0.7rem;
    margin-top: 2rem;
}
.galerie {
    text-align: center;
}
.galerie__item_div {
    margin-top: 2rem;
}
.banner {
    background-image: url(../media/background-CTAblock-4460w.jpg);
    background-color: #787878;
    background-blend-mode: multiply;
    background-size: cover;
    background-clip: border-box;
    background-position-y: center;
}

.banner__content {
    color: white;
    font-weight: bold;
    padding: 9rem;
}
.banner .btn2 {
    padding: 1rem;
    padding-left: 4rem;
    padding-right: 4rem;
    background-color: #EB6C27;
    font-weight: 200;
}
.ref{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
	
}
.ref .btn--primary-new{
    padding: 12px 50px;
}
.ref__contents{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    margin-top: 2em;
	margin-bottom: 80px;
}
.ref-content{
    position: relative;
    width: 30rem;
    margin: 0;
}
.ref-content__img{
    display: block;
    width: 100%;
}

.ref-content__active {
    position: absolute;

    top: 0;
    left: 0;
    height: 298px;
    width: 480px;
    visibility: hidden;
    
    background-color: rgba(235, 108, 27, 0.8);

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.ref-content:hover .ref-content__active {
    visibility: visible;
}
.ref--text{
    max-width: 50%;
}
.ref-content__active p, h3 {
    color: white;
}
.btn3 {
    color: white;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: #EB6C27;
    text-decoration: none;
    border: none;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}
footer {
    background-color: #EB6C27;
    padding: 5rem;
    margin-top: 3rem;
}
footer p, footer h1, footer h2, footer h3, footer h4 {
    background-color: #EB6C27;
    color: white;
} 
